/* App.css */
.container {
  background-color: #121212;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 0;
}

.titulo {
  color: #00d1ff;
  font-size: 3rem;
}

.botao-jogar {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #00d1ff;
  background-color: transparent;
  color: #00ff55;
  font-weight: bold;
  transition: 0.3s;
}

.botao-jogar:hover {
  background-color: #00d1ff;
  color: #121212;
}

.resultado-card {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #333;
  text-align: center;
}

.placar-area {
  margin-top: 40px;
  text-align: center;
}