 :root {
  --primary: #00d1ff;
  --bg: #121212;
   --card: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.placar-topo {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  background: var(--card);
  padding: 10px 40px;
  border-radius: 50px;
  border: 2px solid var(--primary);
  margin-bottom: 20px;
}

.status-msg {
  height: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.botoes-area {
  display: flex;
  gap: 20px;
   justify-content: center;
}

.botao-jogar {
  font-size: 3.5rem;
  background: none;
  border: 3px solid transparent;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  padding: 15px;
  border-radius: 20px;
}

.botao-jogar:hover:not(:disabled) {
  transform: scale(1.1);
  border-color: var(--primary);
}

.botao-jogar:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: not-allowed;
}

.arena {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  animation: aparece 0.4s ease-out;
}

.escolha-display {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.escolha-display p {
  font-size: 1rem;
  color: var(--primary);
  margin-top: 10px;
}

.vs-badge {
  background: var(--primary);
  color: rgb(18, 231, 203);
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
}

@keyframes aparece {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}